<app-overlay [showOverlay]="loading"></app-overlay>
<div
  class="w-full bg-black flex items-center justify-between text-white py-5 border-b border-gray-800 fixed"
>
  <div class="hidden md:flex">
    <div *ngIf="PageName == 'messages' || PageName == 'create'" class="flex">
      <a routerLink="/home" class="hover:underline px-5">Home</a>
    </div>
    <div *ngIf="PageName == 'home'">
      <a routerLink="/create" class="hover:underline px-5">Create</a>
    </div>

    <div *ngIf="PageName == 'home' || PageName == 'create'" class="flex">
      <a routerLink="/messages" class="hover:underline">Messages</a>
    </div>
  </div>
  <div class="flex md:hidden">
    <button (click)="OpenPopup()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        [ngClass]="{
          '-rotate-90': rotationAngle === 0,
          '-rotate-0': rotationAngle === 90
        }"
        class="size-6 transform cursor-pointer text-white transition-transform duration-300 ml-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5"
        />
      </svg>
    </button>

    <div
      class="fixed bg-zinc-900 p-5 mt-10 ml-5 rounded-md"
      *ngIf="NavigationPopup"
    >
      <div class="text-white flex flex-col gap-5 w-36">
        <a
          routerLink="/home"
          class="border-b border-gray-300 hover:text-gray-300"
          >Home</a
        >
        <a
          routerLink="/messages"
          class="border-b border-gray-300 hover:text-gray-300"
          >Messages</a
        >
        <a
          routerLink="/create"
          class="border-b border-gray-300 hover:text-gray-300"
          >Create</a
        >
      </div>
    </div>
  </div>
  <div class="flex gap-4 text-white mr-5">
    <div class="flex gap-3">
      <img [src]="ProfilePicture.Url" class="size-7 rounded-full" />
      <button class="font-bold hover:underline" (click)="GoToUserProfile()">
        {{ CurrentUser.Username }}
      </button>
    </div>

    <button class="hover:underline" (click)="Logout()">Logout</button>
  </div>
</div>
