<div class="h-screen justify-center items-center flex bg-black">
  <div class="flex flex-col items-center gap-3 text-white">
    <div class="flex justify-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-20"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636"
        />
      </svg>
    </div>

    <h1 class="font-bold text-3xl">You are not authorized</h1>
    <div>
      <p class="text-gray-400 text-center">
        It seems you do not have permission to use this Page.
      </p>
      <p class="text-gray-400 text-center">
        Please Sign in with a valid account!
      </p>
    </div>

    <button
      class="text-xs text-white p-2 px-4 bg-red-500 hover:bg-red-400 rounded-3xl"
      routerLink="/"
    >
      Sign In
    </button>
  </div>
</div>
