<app-overlay [showOverlay]="loading"></app-overlay>
<form
  [formGroup]="SignUpForm"
  (submit)="SignUp()"
  class="h-screen flex justify-center items-center bg-black overflow-scroll"
>
  <div class="flex flex-col gap-4 w-72">
    <h1 class="text-white font-bold text-2xl pb-3 text-center">
      Create your account
    </h1>
    <input
      class="rounded-3xl bg-black border-2 border-gray-300 p-1 px-4 text-white min-w-full"
      placeholder="Firstname"
      [(ngModel)]="person.FirstName"
      formControlName="firstname"
      [ngClass]="{
        'border-1 border-rose-600':
          SignUpForm.get('firstname')?.invalid &&
          SignUpForm.get('firstname')?.touched
      }"
    />

    <input
      class="rounded-3xl bg-black border-2 border-gray-300 p-1 px-4 text-white"
      placeholder="Lastname"
      [(ngModel)]="person.LastName"
      formControlName="lastname"
      [ngClass]="{
        'border-1 border-rose-600':
          SignUpForm.get('lastname')?.invalid &&
          SignUpForm.get('lastname')?.touched
      }"
    />
    <input
      class="rounded-3xl bg-black border-2 border-gray-300 p-1 px-4 text-white"
      placeholder="Phonenumber"
      [(ngModel)]="person.PhoneNumber"
      formControlName="phonenumber"
      [ngClass]="{
        'border-1 border-rose-600':
          SignUpForm.get('phonenumber')?.invalid &&
          SignUpForm.get('phonenumber')?.touched
      }"
    />

    <input
      class="rounded-3xl bg-black border-2 border-gray-300 p-1 px-4 text-white"
      placeholder="Email"
      [(ngModel)]="person.Email"
      formControlName="email"
      [ngClass]="{
        'border-1 border-rose-600':
          SignUpForm.get('email')?.invalid && SignUpForm.get('email')?.touched
      }"
    />
    <input
      class="rounded-3xl bg-black border-2 border-gray-300 p-1 px-4 text-white"
      placeholder="yyyy/mm/dd"
      [(ngModel)]="person.DateOfBirth"
      formControlName="dateofbirth"
      [ngClass]="{
        'border-1 border-rose-600':
          SignUpForm.get('dateofbirth')?.invalid &&
          SignUpForm.get('dateofbirth')?.touched
      }"
    />
    <input
      class="rounded-3xl bg-black border-2 border-gray-300 p-1 px-4 text-white"
      placeholder="Username"
      [(ngModel)]="user.Username"
      formControlName="username"
      [ngClass]="{
        'border-1 border-rose-600':
          SignUpForm.get('username')?.invalid &&
          SignUpForm.get('username')?.touched
      }"
    />
    <input
      class="rounded-3xl bg-black border-2 border-gray-300 p-1 px-4 text-white"
      placeholder="Password"
      type="password"
      [(ngModel)]="user.Password"
      formControlName="password"
      [ngClass]="{
        'border-1 border-rose-600':
          SignUpForm.get('password')?.invalid &&
          SignUpForm.get('password')?.touched
      }"
    />
    <div class="relative">
      <select
        class="rounded-3xl p-1 px-4 border-2 border-gray-300 bg-black text-gray-400 appearance-none w-72"
        formControlName="CountryName"
        id="Countries"
        [ngClass]="{
          'border-1 border-rose-600':
            SignUpForm.get('CountryName')?.invalid &&
            SignUpForm.get('CountryName')?.touched
        }"
      >
        <option value="" disabled selected>Select a country</option>
        <option *ngFor="let Country of Countries" [value]="Country.CountryName">
          {{ Country.CountryName }}
        </option>
      </select>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6 absolute right-5 top-1/2 transform -translate-y-1/2 w-7 h-7 text-white pl-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m19.5 8.25-7.5 7.5-7.5-7.5"
        />
      </svg>
    </div>

    <div class="ml-3 flex flex-col text-white items-start gap-2">
      <div class="flex gap-5">
        <div class="flex gap-3">
          <label for="male">Male</label>
          <input
            id="male"
            type="radio"
            name="gender"
            (click)="MakeMale()"
            checked
          />
        </div>
        <div class="flex gap-3">
          <label for="female">Female</label>
          <input
            id="female"
            type="radio"
            name="gender"
            (click)="MakeFemale()"
          />
        </div>
      </div>
      <div class="flex justify-center items-center">
        <input
          type="file"
          id="profilePictureInput"
          class="hidden"
          (change)="onFileSelected($event)"
        />
        <label for="profilePictureInput" class="cursor-pointer">
          <div class="flex justify-center items-center h-full gap-3">
            <p class="font-bold">Profile Picture</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m0-3-3-3m0 0-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75"
              />
            </svg>
          </div>
        </label>
      </div>
    </div>

    <button
      class="rounded-3xl p-2 px-5 text-white text-xs bg-blue-700 hover:bg-blue-600"
      type="submit"
    >
      Sign up
    </button>
    <div class="text-gray-400 pt-2 flex gap-2">
      <span>Already have an account?</span>
      <a class="text-blue-500 hover:text-blue-700 cursor-pointer" routerLink="/"
        >Login here</a
      >
    </div>
  </div>
</form>
