<form
  [formGroup]="SignUpForm"
  (submit)="SignUp()"
  class="h-screen flex justify-center items-center bg-black"
>
  <div class="flex flex-col gap-4 w-72">
    <h1 class="text-white font-bold text-2xl pb-3 text-center">
      Create your account
    </h1>
    <input
      class="rounded-3xl bg-black border-2 border-white p-1 px-4 text-white min-w-full"
      placeholder="Firstname"
      [(ngModel)]="person.FirstName"
      formControlName="firstname"
      [ngClass]="{
        'border-1 border-rose-500':
          SignUpForm.get('firstname')?.invalid &&
          SignUpForm.get('firstname')?.touched
      }"
    />

    <input
      class="rounded-3xl bg-black border-2 border-white p-1 px-4 text-white"
      placeholder="Lastname"
      [(ngModel)]="person.LastName"
      formControlName="lastname"
      [ngClass]="{
        'border-1 border-rose-500':
          SignUpForm.get('lastname')?.invalid &&
          SignUpForm.get('lastname')?.touched
      }"
    />
    <input
      class="rounded-3xl bg-black border-2 border-white p-1 px-4 text-white"
      placeholder="Phonenumber"
      [(ngModel)]="person.PhoneNumber"
      formControlName="phonenumber"
      [ngClass]="{
        'border-1 border-rose-500':
          SignUpForm.get('phonenumber')?.invalid &&
          SignUpForm.get('phonenumber')?.touched
      }"
    />

    <input
      class="rounded-3xl bg-black border-2 border-white p-1 px-4 text-white"
      placeholder="Email"
      [(ngModel)]="person.Email"
      formControlName="email"
      [ngClass]="{
        'border-1 border-rose-500':
          SignUpForm.get('email')?.invalid && SignUpForm.get('email')?.touched
      }"
    />
    <input
      class="rounded-3xl bg-black border-2 border-white p-1 px-4 text-white"
      placeholder="Date of birth"
      [(ngModel)]="person.DateOfBirth"
      formControlName="dateofbirth"
      [ngClass]="{
        'border-1 border-rose-500':
          SignUpForm.get('dateofbirth')?.invalid &&
          SignUpForm.get('dateofbirth')?.touched
      }"
    />
    <input
      class="rounded-3xl bg-black border-2 border-white p-1 px-4 text-white"
      placeholder="Username"
      [(ngModel)]="user.Username"
      formControlName="username"
      [ngClass]="{
        'border-1 border-rose-500':
          SignUpForm.get('username')?.invalid &&
          SignUpForm.get('username')?.touched
      }"
    />
    <input
      class="rounded-3xl bg-black border-2 border-white p-1 px-4 text-white"
      placeholder="Password"
      type="password"
      [(ngModel)]="user.Password"
      formControlName="password"
      [ngClass]="{
        'border-1 border-rose-500':
          SignUpForm.get('password')?.invalid &&
          SignUpForm.get('password')?.touched
      }"
    />

    <select
      class="rounded-3xl py-2 px-3 border-2 border-white bg-black text-white"
      formControlName="CountryName"
    >
      <option value="" disabled selected>Select a country</option>
      <option *ngFor="let Country of Countries" [value]="Country.CountryName">
        {{ Country.CountryName }}
      </option>
    </select>

    <div class="ml-3 flex gap-8 text-white items-center">
      <div class="flex justify-center items-center">
        <input
          type="file"
          id="profilePictureInput"
          class="hidden"
          (change)="onFileSelected($event)"
        />
        <label for="profilePictureInput" class="cursor-pointer">
          <div
            class="w-16 h-16 rounded-full border-2 border-gray-300 overflow-hidden relative"
          >
            <div class="flex justify-center items-center h-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-8 text-gray-300"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                />
              </svg>
              <div
                class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center text-white opacity-0 hover:opacity-100 transition-opacity"
              >
                <span class="text-xs">Change</span>
              </div>
            </div>
          </div>
        </label>
      </div>
      <div>
        <div class="flex gap-3">
          <label for="male">Male</label>
          <input
            id="male"
            type="radio"
            name="gender"
            (click)="MakeMale()"
            checked
          />
        </div>
        <div class="flex gap-3">
          <label for="female">Female</label>
          <input
            id="female"
            type="radio"
            name="gender"
            (click)="MakeFemale()"
          />
        </div>
      </div>
    </div>

    <button
      class="rounded-3xl p-2 px-5 text-white text-xs bg-blue-700 hover:bg-blue-600"
      type="submit"
    >
      Sign up
    </button>
    <div class="text-gray-400 pt-2 flex gap-2">
      <span>Already have an account?</span>
      <a class="text-blue-500 hover:text-blue-700 cursor-pointer" routerLink="/"
        >Login here</a
      >
    </div>
  </div>
</form>
